head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title RMS
  link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='font-awesome.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
  link(rel='stylesheet' href='/styles.css')
.rubberBand.animated(style='padding: 176px;')
  div
    div
  p(style='font-size: 43px;font-weight: bold;margin-top: 142px;text-align: center;text-shadow: 1px 1px 18px rgb(255,255,255);') West-Mec RMS Login
  div(style='background: #f1f1f1;border-radius: 25px;height: 45px;')
    i.fa.fa-envelope(style='margin: 0px;margin-left: 18px;margin-right: 0px;')
    input(type='text' style='background: #f1f1f1ca;border-radius: 0px;border-style: none;margin-top: 8px;margin-right: 0px;margin-left: 2px;' placeholder='Email' value='Email')
  div(style='background: #f1f1f1;border-radius: 25px;padding: 10px;margin-top: 12px;')
    i.fa.fa-lock(style='margin: 0px;margin-left: 10px;')
    input(type='text' style='background: #f1f1f1ca;border-radius: 0px;border-style: none;' placeholder='Password' value='Password')
  div(style='background: linear-gradient(rgb(121,52,190), rgb(69,104,228)), #aef596;border-radius: 25px;padding: 10px;margin-top: 12px;')
    p.text-center(style='font-size: 24px;margin-bottom: 5px;color: rgb(255,255,255);') Login
script(src='assets/js/jquery.min.js')
script(src='assets/bootstrap/js/bootstrap.min.js')
