doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Persons Form
  link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
h1(style='background: #f2f2f2;padding: 0px;margin: 0px;border-radius: 11px;text-align: center;margin-left: 60px;margin-right: 60px;margin-top: 14px;margin-bottom: 38px;') RMS Persons Form
form.text-center.d-flex.flex-row.flex-grow-1.flex-shrink-1.flex-fill.justify-content-center.align-items-center.align-content-center.align-self-center.flex-wrap.m-auto.justify-content-lg-center.align-items-lg-center(style='margin: 0px;background: #eeeeee;border-radius: 10px;font-size: 1em;padding: 0px;margin-right: 60px;width: 859.2px;height: 380px;margin-left: 60px;')
  .form-group.d-flex.d-lg-flex.flex-row.flex-grow-1.m-auto.justify-content-lg-center.align-items-lg-center(style='font-size: .7em;text-align: center;margin-right: 0px;padding: 0px;')
    label.m-auto(style='font-size: 1.6em;text-align: center;')
      | Name
      input.form-control(type='text' style='margin: -1px;')
    label.m-auto(style='font-size: 1.6em;text-align: center;')
      | SSN
      input.form-control(type='text')
    label.d-lg-flex.flex-wrap.m-auto.justify-content-lg-center.align-items-lg-center(style='font-size: 22.2px;text-align: left;margin-right: 0px;width: 225.988px;')
      | Hazard
      input.d-lg-flex.align-content-end.align-self-end.justify-content-lg-center(type='checkbox' style='width: 73.8px;font-size: 30.12px;height: 22.8px;margin-right: 0px;margin-left: 0px;text-align: right;')
  .form-group.d-flex.d-lg-flex.flex-row.flex-fill.justify-content-center.align-content-center.flex-wrap.justify-content-lg-center.align-items-lg-center
    label.m-auto(style='text-align: center;')
      | Gender
      select.form-control
        optgroup(label='Gender')
          option(value='12' selected='') Unknown
          option(value='13') Male
          option(value='14') Female
    label.m-auto(style='text-align: center;')
      | Race
      select.form-control
        optgroup(label='Race')
          option(value='12' selected='') U (Unknown)
          option(value='13') W (White)
          option(value='14') B (Black)
          option(value='') H (Hispanic)
          option(value='') I (Indian)
          option(value='') A (Asian)
    label.m-auto(style='text-align: center;')
      | Eye Color
      select.form-control
        optgroup(label='Color')
          option(value='12' selected='') BRO (Brown)
          option(value='13') BLK (Black)
          option(value='14') BLU (Blue)
          option(value='') GRN (Green)
          option(value='') HAZ (Hazle)
          option(value='') GRY (Grey)
    label.m-auto(style='text-align: center;')
      | Hair Color
      select.form-control
        optgroup(label='Color')
          option(value='12' selected='') BRO (Brown)
          option(value='13') BLK (Black)
          option(value='14') BLU (Blue)
          option(value='') GRN (Green)
          option(value='') HAZ (Hazle)
          option(value='') GRY (Grey)
          option(value='') PNK (Pink)
          option(value='') BLN (Blonde)
          option(value='') BLD (Bald)
  .form-group.d-flex.d-lg-flex.flex-row.flex-fill.justify-content-center.align-content-center.flex-wrap.justify-content-lg-center.align-items-lg-center
    label.m-auto(style='text-align: center;')
      | Date of birth
      br
      input.form-control(type='date')
    label.m-auto(style='text-align: center;')
      | Age
      br
      input.form-control(type='number' style='width: 68.6px;')
    label.m-auto(style='text-align: center;')
      | Height
      br
      input.form-control(type='number' style='width: 68.6px;')
    label.m-auto(style='text-align: center;')
      | Weight
      br
      input.form-control(type='number' style='width: 68.6px;')
    label.m-auto(style='text-align: center;')
      | Scars/Marks/Tattoos
      input.form-control(type='text')
  .form-group.d-flex.d-lg-flex.flex-row.flex-fill.justify-content-center.align-content-center.flex-wrap.justify-content-lg-center.align-items-lg-center
    label.m-auto(style='text-align: center;')
      | Home Address
      input.form-control(type='text')
    label.m-auto(style='text-align: center;')
      | Phone Number
      input.form-control(type='text')
  .form-group.d-flex.d-lg-flex.flex-row.flex-fill.justify-content-center.align-content-center.flex-wrap.justify-content-lg-center.align-items-lg-center
    label.m-auto(style='text-align: center;')
      | Mugshot
      input.form-control-file(type='file')
    label.d-lg-flex.flex-wrap.m-auto.justify-content-lg-center.align-items-lg-center(style='font-size: 22.2px;text-align: left;margin-right: 0px;width: 225.988px;')
      | Gang Affiliation
      input.d-lg-flex.align-content-end.align-self-end.justify-content-lg-center(type='checkbox' style='width: 73.8px;font-size: 30.12px;height: 22.8px;margin-right: 0px;margin-left: 0px;text-align: right;')
script(src='assets/js/jquery.min.js')
script(src='assets/bootstrap/js/bootstrap.min.js')
